@font-face {
  font-family: 'Roobert';
  src: url('/fonts/RoobertTRIAL-Medium.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Haffer';
  src: url('/fonts/HAFFERXHTRIAL-REGULAR.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
body {
  overflow: hidden;
  background-color: #282828;
}

.header {
  position: relative;
  bottom: 24px;
  right: 80px;
  width: 1920px;
  min-width: none;
  max-width: none;
}

.text-input {
  /* font-family: 'Haffer'; */
  background-color: whitesmoke;
  font-size: 20px;
  font-family: 'Haffer';
}
.text-input::placeholder {
  font-size: 0.87rem;
  font-family: 'Haffer';
  text-align: center;
  position: relative;
  bottom: 3.5px;
  right: 2.4px;
}

.load {
  font-family: 'Roobert';
  line-height: 12rem;
  text-align: center;
}
.load2 {
  font-family: 'Roobert';
  font-weight: 100;
  line-height: 10rem;
  text-align: center;
}

.placehold-player {
  width: 1700px;
  height: 75vh;
  margin-top: 5rem;
}

.video-player {
  bottom: 2rem;
  left: 7.1rem;
}

footer {
}

.github:hover {
}

.twitter {
  color: white;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.twitter:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: aqua;
}
